# Appended to /boot/oma-snap/grub/grub.cfg (ESP). Replace the PARTUUID, fs-uuid and entry hash with
# the values from the installer-built entry in the same file. oma-snap's boot tooling may regenerate
# grub.cfg and drop these; re-append if so.
menuentry 'Omarchy Snapdragon 7.2.0-18 TEST: SCMI polling (cpufreq)' --id 'oma-snap-custom-scmipoll' {
  search --no-floppy --fs-uuid --set=root F0E7-53D1
  linux /oma-snap/custom/vmlinuz-scmipoll.efi cryptdevice=PARTUUID=2ed8665a-b1e0-4e67-a79d-6bc1483abf7a:root root=/dev/mapper/root zswap.enabled=0 rootflags=subvol=@ rw rootfstype=btrfs clk_ignore_unused pd_ignore_unused arm64.nopauth quiet splash
  initrd /oma-snap/entries/1117d9ea376bcb584d29dc41d51bfd95991ae8e3cc8ab8a36e8d5ffc1a2e255c/initramfs.img
}
menuentry 'Omarchy Snapdragon 7.2.0-18 TEST: SCMI polling + no clk/pd_ignore_unused' --id 'oma-snap-custom-noignore' {
  search --no-floppy --fs-uuid --set=root F0E7-53D1
  linux /oma-snap/custom/vmlinuz-scmipoll.efi cryptdevice=PARTUUID=2ed8665a-b1e0-4e67-a79d-6bc1483abf7a:root root=/dev/mapper/root zswap.enabled=0 rootflags=subvol=@ rw rootfstype=btrfs arm64.nopauth quiet splash
  initrd /oma-snap/entries/1117d9ea376bcb584d29dc41d51bfd95991ae8e3cc8ab8a36e8d5ffc1a2e255c/initramfs.img
}
